<!--The content below is only a placeholder and can be replaced.-->
<div>
  <div class="category">
    <h1>{{ category }}</h1>
  </div>
  <div class="space"></div>
  <div class="container">
    <div class="item" *ngFor="let serie of series">
      <div class="item--img" style="background-image: url({{serie.img}});">
        <!--<img src="{{ serie.img }}" alt="" />-->
      </div>
      <div class="item--content">
        <h3>{{ serie.name }}</h3>
        <div>
          <button
            type="button"
            (click)="changeAvailable(serie.name, false)"
            [disabled]="0 === serie.quantity"
          >
            -
          </button>
          <strong>{{ serie.quantity }}</strong>
          <button
            type="button"
            (click)="changeAvailable(serie.name, true)"
            [disabled]="serie.quantity === serie.available"
          >
            +
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
      <p class="copyright">© Fabián Pacherres 2021</p>
  </div>
</div>